body {
    background-color: lightgray;
    font-family: Comic Sans MS, Helvetica, Arial;
    background: url('/static/app_users/img/ai_sq.jpg') no-repeat center center / cover;
}

.main h1 {
    padding-left: 350px;
    padding-top: 150px;
    font-weight: 600;
    font-size: 40px;
}


.main {
    position: relative;
    background-color: azure;
    width: 900px;
    margin: 100px auto 70px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 3px 10px #000;
}

.news input, .main textarea {
    display: flex;
    width: 50%;
}

.news input {
    height: 25px;
}